@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #f5f5f5;
    color: #333;
    padding-bottom: 0.313rem;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.introduction{
    margin: 10px 0;
    font-size: 1.1rem;
}

.partner{
    text-align: center;
    padding: 0.5rem 0;
    font-size: 2.5rem;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Button */
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #29AA57 ;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary{
   border: #29AA57 solid 2px ;
   color: #222;
   
}


.btn-outline {
    background: transparent;
    border: 2px solid #29AA57;
    color: #222;
    
}

.btn-outlight{
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
   
}

.btn-outline:hover {
    background-color: #29AA57;
    color: #f5f5f5;
    transition: all 1s ease-in-out;
}

.btn-outlight:hover {
    background-color: #f5f5f5;
    color: #29AA57;
    transition: all 1s ease-in-out;
}

/* Navbar */
.nav {
    position: fixed;
    background-color: #f5f5f5;
    top:0;
    left:0;
    right:0;
    transition: all 0.3s ease-in-out;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.nav a {
    color:#333;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.nav a:hover {
    border-bottom: #29AA57 2px solid;
}

.nav .logo {
    font-weight: 400;
}

.nav.active{
    background-color:#29AA57 ;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.nav.active a{
    color: #f5f5f5;
}

.nav.active.container {
    padding: 10px 0;
}

.nav a.current, .nav a:hover{
    color: #222;
    border-bottom: #f5f5f5 2px solid;;
}
/* Hero Area*/
.hero {
    background: url('/images/Solar\ Project-14\ \(1\).jpg') no-repeat bottom left/cover;
    height: 100vh;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    z-index: -2;
}


.hero h1 {
    font-size: 4rem;
    margin: -20px 0 20px;
}

.logo{
    
    width: 14rem;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: -1;
}


/*icons*/

.icons {
    padding: 30px;
}

.icons h3 {
    font-weight: bold;
    margin-bottom: 15px;
    color: #29AA57 ;
    font-size: 2rem;
}

.icons p {
    text-align: justify;
    margin-bottom: 15px;
}


.icons img {
    border: #29AA57 ;
    height: 6rem;
    margin-bottom: 15px;
}



/*counter*/

.count{
    background-image: linear-gradient(270deg, orange , yellow);
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
  }
  
  .counter {
    font-size: 4rem;
    margin-top: 10px;
  }
  
  @media (max-width: 580px) {
    body {
      flex-direction: column;
    }
  }

/*solutions*/

.bg-primary{
    color: #222;
    background-color: #f5f5f5;
    font-size: 1rem;
}

.bg-primary h2{
    padding-bottom: 1rem;
}

.bg-primary ul li{
    margin-left: 1rem;
    padding-bottom: 2rem;
}

.bg-primary a {text-decoration: none;}

/*finance*/
.finance{
    background-color: #29AA57;
    color: #f5f5f5;
    text-align: center;
    padding: 3rem 0;
}

.finance h2{
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

.finance a {text-decoration: none;}

/*footer*/

#main-footer {
    background: #444;
    color: #f5f5f5;
    
  }
  

  
  #main-footer a {
    color: #fff;
  }
  
  #main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    padding-top: 2rem;
  }

  #main-footer .footer-container > h3 {
    font-size: 1.5rem;
    padding-top: 0.5rem;
  }
  
  #main-footer .footer-container > *:last-child {
    grid-column: 1 / span 4;
    padding-top: 2rem;
    text-align: center;
    font-size: 0.75rem;
  }

  .list li {
    padding: .5rem 0;
    border-bottom: #555 dotted 1px;
    width: 90%;
   list-style-type: none;
  }

  .list li a{
    text-decoration: none;
  }

  .py-2 { 
      padding-top: 2rem;
    }
  
/*drop down*/

.dropdown {
    float: left;
  
  }
  
  .dropdown .dropbtn {
    font-size: 14px;  
    border: none;
    outline: none;
    color: #f5f5f5;
    padding-left: 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #29AA57;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #f5f5f5;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .fa{
    color: #f5f5f5;
  }

  .dropdown-content a:hover {
    background-image: linear-gradient(270deg, orange , yellow);
    color: #222;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align:center;
  }
  
  .box img{
    margin-bottom: 10px;
  }

  .box ul li {
    list-style: none;
  }
/*carousel*/

.slide {
    
    width: 980px;
    height: 100px;
    padding-top: 2rem;
    background-image: linear-gradient(180deg, #fff, #f5f5f5); 
  }
.carousel {
    
    height: 200px;
    width: 100%;
    overflow: hidden;
    
  }
  
  .image-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
  }
  
/*project*/

.cases img:hover {
    opacity: 0.7;
}

.cases img{
    height: 167px;
    width: 132px;
}

.time{
  background-image: linear-gradient(180deg, #fff, #f5f5f5);
}
.history{
  text-align: center;
  
}

.history > h2{
  padding-top: 2rem;
  font-size: 2rem;
}

.pdf {
  padding-top:1rem;
  width:100%; 
  height: 640px;
  
}

.contact {
  padding: 5px;
  margin-right: 20px;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #222;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #29AA57;
  margin: 10px;
  max-width: 650px;
  max-height: 650px;
  width: 100%;
  position:relative;
}

form {
  padding: 45px;
}

h2 {
  font-size: 32px;
  letter-spacing: 3px;
  text-align: center;
}

.email {
    float: right;
    width: 45%;
}

input[type='text'], [type='email'], select, textarea {
    background: transparent;
    border: none;
    border-bottom: 2px solid #29AA57;
    color: #222;
    font-size:18px;
    letter-spacing: 1px;
    margin: 10px;
    padding: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

.message {
    float: none;
}

.name {
    float: left;
    width: 45%;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #222;
}



.submit {
  text-align: center;
}

#form_button:hover {
  opacity: 0.9;
  border: #F5f5f5 2px solid;
  color: #ffc033;
  transition: all .3s ease-in-out;
}

.connect {
    
    font-size: 40px;
    text-align: start;
    margin-left: 150px;
    padding-top: 30px;
}

.connect2{
  text-align: start;
  margin-left: 160px;
  font-size: 20px;
}

.call{
  margin-left: 250px;
  padding-top: 60px;
  font-size: 18px;
}

i{
    padding:0 25px;
    color: #29AA57;
}
